DB_PASSWORD=<MySQL Password here>
DB_PORT=<MySQL Port here>
JWT_SECRET=<Create a powerful JWT secret key for access token>
JWT_REFRESH_SECRET=<Create a powerful JWT secret key for refresh token>

# ⛔⛔⛔ Important ⛔⛔⛔
# Create a new file called .env in the server folder and copy the contents of .env.example into it. (without the comments)
# Replace the values with your own.
